@model beer_timer.Models.Ranking

@{
    ViewData["Title"] = "Twoje wynik";
}


<h1>Twoj wynik</h1>

<hr/>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Sekundy")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sec)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("SetneSekundy")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tens)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Technika")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Technique)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Id Użytkownika")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserNameId)
        </dd>
    </dl>
</div>